#SI NO SE DESPLIEGA CON DOCKER (NO RECOMENDADO)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=nombre_base_de_datos
DB_PASSWORD=tu_password
DB_PORT=5432
GEMINI_API_KEY= #clave de API de Gemini si se desea probar el chatbot
MONTECARLO_PYTHON_PATH= #Ruta hacia tu imagen de pyhton
JWT_SECRET=genera_aqui_un_secreto_largo_y_aleatorio
JWT_EXPIRES_IN=7d
